<!-- Fourth section -->
<section class="section" id="contact">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <br />
        <%= form_for :rlogform, url: ads_path do |f| %>
            <div class="new-form">
              <%= f.label :rloglabel, "Wprowadź kod zwrotu", class: "new-formlabel" %><br>
              <%= f.text_field :rlogcode, class: "form-control" %>
            </div>
            <p>
            <div><%= f.submit :value => "Szukaj", class: "btn-search btn btn-primary btn-sm" %></div>
            </p>
        <% end %>
        <br />
      <div><b>FIRMA:</b></div><div><%= @companyname %></div>
      <br />
     <div><b>WOJEWÓDZTWO:</b></div><div><%= @province %></div>
      <br />
     <div><b>ULICA:</b></div><div><%= @street %></div>
      <br />
     <div><b>MIASTO:</b></div><div><%= @town %></div>
      <br />

    </div>
  </div>
</section>