<section class="section" id="head">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
        <!-- App Content -->

        <div class="new-form">

          <h2>Edytuj <%= resource_name.to_s.humanize %></h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :email, class: "new-formlabel" %><br />
                <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </div>
                <br />
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              <br />
              <div class="field">
                <%= f.label :password, class: "new-formlabel" %>
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              </div>
              <br />
              <div class="field">
                <%= f.label :password_confirmation, class: "new-formlabel" %>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
              </div>
              <br />
              <div class="field">
                <%= f.label :current_password, class: "new-formlabel" %>
                <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
              </div>
              <br />
              <div class="actions">
                <%= f.submit "Update", class: "btn btn-primary btn-sm" %>
              </div>
          <% end %>

          <h3>Cancel my account</h3>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary btn-sm" %></p>

          <%= link_to "Back", :back %>

        </div>

      </div> <!-- /col -->
    </div> <!-- /row -->
  </div>
</section>