<section class="section" id="head">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
        <!-- App Content -->

        <div class="new-form">

          <h2>Rejestracja</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="alert-box error"><%= devise_error_messages! %></div>

              <div class="field">
                <%= f.label :email, class: "new-formlabel" %><br />
                <%= f.input :email, label: false, autofocus: true, input_html: { class: 'form-control' } %>
              </div>
                <br />
              <div class="field">
                <%= f.label :password, class: "new-formlabel" %>
                <% if @validatable %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.input :password, label: false, autocomplete: "off", input_html: { class: 'form-control' } %>
              </div>
                <br />
              <div class="field">
                <%= f.label :password_confirmation, class: "new-formlabel" %><br />
                <%= f.input :password_confirmation, label: false, autocomplete: "off", input_html: { class: 'form-control' } %>
              </div>
                <br />
              <div class="actions">
                <%= f.button :submit, "Rejestruj", class: "btn btn-primary btn-sm" %>
              </div>
          <% end %>
            <br />
          <%= render "devise/shared/links" %>

        </div>

      </div> <!-- /col -->
    </div> <!-- /row -->
  </div>
</section>