<section class="section" id="head">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
        <!-- App Content -->
        <div class="new-form">

          <h2>Forgot your pass ?</h2>

          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <div class="alert-box error"><%= devise_error_messages! %></div>

              <div class="field">
                <%= f.label :email, class: "new-formlabel" %><br />
                <%= f.input :email, label: false, autofocus: true, input_html: { class: 'form-control' } %>
              </div>
                <br />
              <div class="actions">
                <%= f.button :submit, "Send me reset password instructions", class: "btn btn-primary btn-sm" %>
              </div>
          <% end %>
                <br />
        </div>
        <br />
      </div> <!-- /col -->
    </div> <!-- /row -->
  </div>
</section>