<%= form_for(@ticket, html: { class: 'bootstrap-frm' }) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new-form">
    <%= f.label :Projekt, class: "new-formlabel" %>
    <%= f.select(:project_name, ['', 'Menadżer Paczek', 'API', 'SEH', 'Analiza', 'Allegro'], class: "form-control") %>
  </div>
  <div class="new-form">
    <%= f.label :Numer, class: "new-formlabel" %>
    <%= f.text_field :ticket_no, class: "form-control" %>
  </div>
  <div class="new-form">
    <%= f.label "Tytuł Zgłoszenia", class: "new-formlabel" %>
    <%= f.text_area :ticket_label, class: "form-control" %>
  </div>
  <div class="new-form">
    <%= f.label :Deploy, class: "new-formlabel" %>
    <%= f.text_field :deploy_date, class: "form-control" %>
  </div>
  <div class="new-form">
    <%= f.label :Status, class: "new-formlabel" %>
    <%= f.select(:status, ['', 'w kolejce', 'w trakcie', 'gotowe', 'wstrzymane'], class: "form-control") %>
  </div>
  <div class="new-form">
    <%= f.label :Kontakt, class: "new-formlabel" %>
    <%= f.text_field :email_address, class: "form-control" %>
  </div>
    <br />
  <div>
      <%= link_to 'Wracaj', tickets_path, class: "btn btn-primary" %>
      <%= f.submit :value => "Zapisz", class: "btn btn-primary" %>
  </div>
<% end %>
