<section class="section" id="themes" style="padding-top: 10px;">
  <div class="container">

    <h2 class="text-center title">Szczegóły zgłoszenia</h2>
    <p class="lead text-center"></p>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= @ticket.ticket_label %></h3>
            <br />
            <p>
              <%#params[:id] %>
              <%#@ticket.inspect %>
              <b>Numer zgłoszenia:</b> <a href="https://jira.inpost.pl/browse/<%= @ticket.ticket_no %>" target="_blank"><%= @ticket.ticket_no %></a>
              <br />
              <b>Projekt</b>: <%= @ticket.project_name %>
              <br />
              <b>Deploy</b>: <%= @ticket.deploy_date %>
              <br />
              <b>Status</b>:
              <% if @ticket.status == "gotowe" %>
              <span class="label label-success"><%= @ticket.status %></span>
              <% else if @ticket.status == "w trakcie"  %>
              <span class="label label-warning"><%= @ticket.status %></span>
              <% else if @ticket.status == "w kolejce"  %>
              <span class="label label-info"><%= @ticket.status %></span>
              <% end  %>
              <% end  %>
              <% end  %>
              <br /><br />
              <b>Opis</b>:
              <br />
              <pre>Należy wprowadzić filtrowanie domen, których SZOP nie obsłuży, wyświetlając klientowi odpowiedni komunikat. W chwili obecnej MP wyrzuca komunikat o błędzie.</pre>
            </p>
            <br />
            <% if user_signed_in? %>
                <p><%= link_to 'Wracaj', return_to, class: "btn btn-primary btn-sm"  %> <a href="/reservations" class="btn btn-primary btn-sm" role="button">Edytuj opis</a></p>
            <% else if !user_signed_in? %>
                    <p><%= link_to 'Wracaj', return_to, class: "btn btn-primary btn-sm"  %></p>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Fourth (Contact) section -->
<section class="section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <p>Wszystkie dodatkowe pytania dot. przesyłanych zgłoszeń, kieruj pod adres:</p>
        <p><b>support@paczkomaty.pl</b><br><br></p>
      </div>
    </div>
  </div>
</section>