<!-- Main (Home) section -->
<section class="section" id="head">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center"> 

        <!-- Content -->
        <h3 class="tagline">
          <h1>Przekazane Zgłoszenia</h1>
          <br />
<table>
  <thead>
    <tr>
      <th class="center-userslist">Projekt</th>
      <th class="center-userslist">Numer</th>
      <th class="center-userslist">Tytuł Zgłoszenia</th>
      <th class="center-userslist">Deploy</th>
      <th class="center-userslist">Status</th>
      <th class="center-userslist">Kontakt:</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <br />
<br />
  <tbody>
    <% @tickets .order("created_at desc").each do |ticket| %>
      <tr>
        <td class="center-userslist"><%= ticket.project_name %></td>
        <td class="center-userslist"><a href="https://jira.inpost.pl/browse/<%= ticket.ticket_no %>" target="_blank"><%= ticket.ticket_no %></a></td>
        <td class="center-userslist"><%= truncate(ticket.ticket_label, length: 67) %></td>
        <td class="center-userslist"><%= ticket.deploy_date %></td>
        <td class="center-userslist"><%= ticket.status %></td>
        <td class="center-userslist email-userlist"><a href="mailto:<%= ticket.email_address %>"><%= ticket.email_address %></a></td>
        <!-- <td><%= link_to image_tag("../images/show.png"), ticket, class: "img-userlist"  %></td> -->
        <!-- <td><%= link_to 'Show', ticket %></td> -->
        <td><%= link_to image_tag("details.png"), details_ticket_path(ticket), class: "img-userlist" %></td>
        <td><%= link_to image_tag("../images/edit.png"), edit_ticket_path(ticket), class: "img-userlist" %></td>
        <td><%= link_to image_tag("delete.png"), ticket, class: "img-userlist", method: :delete, data: { confirm: 'Wykasować ticket z bazy danych ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    <div class="pagination">
    <%= will_paginate @tickets, :class => 'page' %>
    </div>
      </h3>
        <br />
        <% if user_signed_in? %>
        <p>
        <%= link_to 'Dodaj nowy Ticket', new_ticket_path, class: "btn btn-primary" %>
        </p>
        <% else if !user_signed_in? %>
        <% end %>
            <% end %>
        </div> <!-- /col -->
    </div> <!-- /row -->
  </div>
</section>

<!-- Fourth section -->
<section class="section" id="contact">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <br />
        <%= search_form_for @search do |f| %>
            <div class="new-form">
              <%= f.label :project_name, "Szukaj", class: "new-formlabel" %>
              <%= f.search_field :project_name_or_ticket_no_or_status_cont, class: "form-control" %>
            </div>
            <div><%= f.submit :value => "Szukaj", class: "btn-search btn btn-primary btn-sm" %></div>

        <br />
        <p class="lead">lub sortuj wynik po wybranym projekcie</p>
        <ul class="list-inline list-social">
           <li><%= f.radio_button :project_name_eq, 'Menadżer Paczek', checked: false, :onclick => "this.form.submit();" %> MP</li>
           <li><%= f.radio_button :project_name_eq, 'SEH', checked: false, :onclick => "this.form.submit();" %> SEH</li>
           <li><%= f.radio_button :project_name_eq, 'API', checked: false, :onclick => "this.form.submit();" %> API</li>
           <li><%= f.radio_button :project_name_eq, 'Allegro', checked: false, :onclick => "this.form.submit();" %> Allegro</li>
        </ul>
        <% end %>
      </div>

    </div>

  </div>
</section>