<section class="section" id="head">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
        <!-- App Content -->

        <div>

          <h1>Utwórz nowy ticket</h1><br />

          <%= render 'form' %>

        </div>
    <br />
      </div> <!-- /col -->
    </div> <!-- /row -->
  </div>
</section>