<!-- Main (Home) section -->
<section class="section" id="head">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

        <!-- Content -->
        <h3 class="tagline">
          <h1>Wyszukiwarka</h1>
          <br />
          <table>
            <tbody>
                TEST TEST TEST
            </tbody>
          </table>
          <div class="pagination">

          </div>
        </h3>
        <br />

      </div> <!-- /col -->
    </div> <!-- /row -->
  </div>
</section>

<!-- Fourth section -->
<section class="section" id="contact">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <br />
        <p class="lead">Sortuj wynik po wybranym projekcie</p>
        <ul class="list-inline list-social">

          <li><%= check_box("post", "validated") %> MP</li>
          <li><%= check_box("post", "validated") %> API</li>
          <li><%= check_box("post", "validated") %> SEH</li>
          <li><%= check_box("post", "validated") %> ALLEGRO</li>
        </ul>
      </div>
    </div>

  </div>
</section>