<div style="text-align: center;">

  <h1>Zweryfikuj zapisane informacje:</h1><br />

  <div class="panel panel-default panel-width">
    <div class="panel-heading">
      <h3 class="panel-title">Projekt:</h3>
    </div>
    <div class="panel-body">
      <div><%= @ticket.project_name %></div>
    </div>
  </div>

  <div class="panel panel-default panel-width">
    <div class="panel-heading">
      <h3 class="panel-title">Numer:</h3>
    </div>
    <div class="panel-body">
      <div><%= @ticket.ticket_no %></div>
    </div>
  </div>

  <div class="panel panel-default panel-width">
    <div class="panel-heading">
      <h3 class="panel-title">Tytuł Zgłoszenia:</h3>
    </div>
    <div class="panel-body">
      <div><%= @ticket.ticket_label %></div>
    </div>
  </div>

  <div class="panel panel-default panel-width">
    <div class="panel-heading">
      <h3 class="panel-title">Deploy:</h3>
    </div>
    <div class="panel-body">
      <div><%= @ticket.deploy_date %></div>
    </div>
  </div>

  <div class="panel panel-default panel-width">
    <div class="panel-heading">
      <h3 class="panel-title">Status:</h3>
    </div>
    <div class="panel-body">
      <div><%= @ticket.status %></div>
    </div>
  </div>

  <div class="panel panel-default panel-width">
    <div class="panel-heading">
      <h3 class="panel-title">E-mail:</h3>
    </div>
    <div class="panel-body">
      <div><%= @ticket.email_address %></div>
    </div>
  </div>

<b>
<%= link_to 'Edytuj Ticket', edit_ticket_path(@ticket), class: "btn btn-primary" %>
<%= link_to 'Strona Główna', tickets_path, class: "btn btn-primary" %>
</b>
<br /><br />
</div>

