<html>
<br />
<body>
<div style="right: 0px; padding-right: 70px; margin-top: 50px; position:fixed;">
<a href="http://www.tickets.com/tickets#themes">Strona Poprzednia</a> - <a href="">Strona Główna</a>
</div>
  <div class="container">
  
    <h2 class="text-center title">Rezerwacje</h2>
    <p class="lead text-center">
    Tylko Pokoje Wolne - Tylko Pokoje Zarezerwowane - Wyświetl Wszystkie
      <br>
    </p>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="thumbnail">
          <%= link_to image_tag("rooms/A10.jpg") %>
          <div class="caption">
          <% @reservations.each do |reservation| %>
            <h3><a href="/reservations/<%= reservation.id %>"><%= reservation.rname %></a></h3>
            <p>
            <b>Status</b>: <%= reservation.rstatus %>
            <% end %> 
            <br />
            <b>Rezerwacja do dnia</b>: Brak rezerwacji
            <br />
            <b>Rodzaj pokoju</b>: Jednoosobowy
            <br />
            <b>Piętro</b>: I
            </p>
            <p><a href="#" class="btn btn-primary" role="button">Historia</a> <a href="#" class="btn btn-default" role="button">Rezerwuj</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= link_to image_tag("rooms/A10.jpg") %>
          <div class="caption">
            <h3>A11</h3>
            <p>
            <b>Status</b>: Wolny 
            <br />
            <b>Rezerwacja do dnia</b>: Brak rezerwacji
            <br />
            <b>Rodzaj pokoju</b>: Jednoosobowy
            <br />
            <b>Piętro</b>: I
            </p>
            <p><a href="#" class="btn btn-primary" role="button">Historia</a> <a href="#" class="btn btn-default" role="button">Rezerwuj</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-2">
        <div class="thumbnail">
          <%= link_to image_tag("rooms/A10.jpg") %>
          <div class="caption">
            <h3>A12</h3>
            <p>
            <b>Status</b>: Wolny 
            <br />
            <b>Rezerwacja do dnia</b>: Brak rezerwacji
            <br />
            <b>Rodzaj pokoju</b>: Jednoosobowy
            <br />
            <b>Piętro</b>: II
            </p>
            <p><a href="#" class="btn btn-primary" role="button">Historia</a> <a href="#" class="btn btn-default" role="button">Rezerwuj</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= link_to image_tag("rooms/A10.jpg") %>
          <div class="caption">
            <h3>A13</h3>
            <p>
            <b>Status</b>: Wolny 
            <br />
            <b>Rezerwacja do dnia</b>: Brak rezerwacji
            <br />
            <b>Rodzaj pokoju</b>: Jednoosobowy
            <br />
            <b>Piętro</b>: III
            </p>
            <p><a href="#" class="btn btn-primary" role="button">Historia</a> <a href="#" class="btn btn-default" role="button">Rezerwuj</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>