<html>
<head>
<title><%= @reservation.rname %></title>
<body>
<p>
<b>Nazwa Pokoju:</b> <%= @reservation.rname %>
</p>
<p>
<b>Status Rezerwacji:</b> <%= @reservation.rstatus %>
</p>
<p>
<b>Czas:</b> <%= @reservation.rreservation %>
</p>
<p>
<b>Typ Pokoju:</b> <%= @reservation.rtype %>
</p>
<p>
<b>Piętro:</b> <%= @reservation.rfloor %>
</p>
<p>
<b>Cena:</b> <%= @reservation.rprice %>
</p>
<p>
<b>Historia Rezerwacji:</b> <%= @reservation.rhistory %>
</p>
<p>

</p>
</body>
</head>
</html>