<section class="section" id="head">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
        <!-- App Content -->

        <div class="new-form">

          <h2>Log in</h2>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.label :email, class: "new-formlabel" %><br />
              <%= f.input :email, label: false, autofocus: true, input_html: { class: 'form-control' } %>
              <br />
              <%= f.label :password, class: "new-formlabel" %><br />
              <%= f.input :password, label: false, autocomplete: "off", input_html: { class: 'form-control' } %>
              <br />
              <% if devise_mapping.rememberable? -%>
              <div class="new-rememberme">
              <%= f.input :current_job, :as => :boolean, label: false, input_html: {checked: false, class: 'new-rememberme', id: 'user_remember_me'} %>
              <%= f.label :remember_me, class: "new-formlabel" %>
              </div>
              <% end -%>
              <br />
              <%= f.button :submit, "Login", class: "btn btn-primary btn-sm" %>
          <% end %>
                <br />
          <%= render "devise/shared/links" %>

        </div>

      </div> <!-- /col -->
    </div> <!-- /row -->
  </div>
</section>


