<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"    content="width=device-width, initial-scale=1.0">
<meta name="description" content="RubyOnRails Test">
<meta name="author"      content="Tomasz Nowak-Bańdura (syngress.pl)">
<title>Rezerwacje</title>
<link rel="shortcut icon" href="../images/gt_favicon.png">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body class="theme-invert">
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Support</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/tickets">Główna</a></li>
      <li><a href="/ads">Kod Zwrotu</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Dropdown header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left">
      <div class="bs-component">
        <ul class="nav nav-pills">
          <li><a href="#">Szukaj <span class="badge"></span></a></li>
          <li><a href="#">Wiadomości <span class="badge">0</span></a></li>
        </ul>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
          <li>Logged in as <strong><%= current_user.email %></strong>.</li>
          <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
          <li><%= link_to "Wyloguj", destroy_user_session_path, method: :delete %></li>
      <% else %>
          <li><%= link_to "Rejestracja", new_user_registration_path %></li>
          <li><%= link_to "Zaloguj", new_user_session_path  %></li>
      <% end %>
    </ul>
  </div>
</div>

<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
<!-- Load js libs only when the page is loaded. -->
<!-- Custom template scripts -->
</body>
</html>